<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1068098483420-33ppkdmsrgg57nd39dh919mric51gubv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1068098483420-33ppkdmsrgg57nd39dh919mric51gubv</string>
	<key>API_KEY</key>
	<string>AIzaSyB_WWwKhPb-PhqOfMPk6pW5atj_0ihVE2s</string>
	<key>GCM_SENDER_ID</key>
	<string>1068098483420</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>HKUEEE.Byngo</string>
	<key>PROJECT_ID</key>
	<string>byngo-440d4</string>
	<key>STORAGE_BUCKET</key>
	<string>byngo-440d4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1068098483420:ios:804882eefdef72ee763019</string>
</dict>
</plist>